- clarify_title "(logged in as #{@user.name})"

- content_for :head do
  = stylesheet_link_tag 'main'
  = stylesheet_link_tag 'inputs'
  = stylesheet_link_tag 'preferences'
  = javascript_include_tag 'inputs'
  = javascript_include_tag 'preferences'
  %meta{ :content => 'nocache', :equiv => 'pragma' } 

%h1 Welcome to Clubcar!

#leftSide
  %h2#moods Your Moods

  = render :partial => '/moods/list', :object => @user.moods


#center
  = render :partial => '/preferences/change_form', :locals => {:header => true}

#rightSide 
  #graphsLoggedIn 
    = render :partial => '/graphs/genres', :object => params
    = render :partial => '/main/logged_in', :object => @logged_in
