- clarify_title "(logged in as #{@user.name})"

- content_for :head do
  = stylesheet_link_tag 'main'
  = stylesheet_link_tag 'inputs'
  = stylesheet_link_tag 'preferences'
  = javascript_include_tag 'inputs'
  = javascript_include_tag 'preferences'
  = javascript_include_tag 'NiftyCube/niftycube'
  %meta{ :content => 'nocache', :equiv => 'pragma' } 

%h1 Welcome to Clubcar!

#leftSide
  %h2#moods Your Moods
  :javascript
    Nifty('h2#moods', 'top')
  
  #moodList 
    = render :partial => '/moods/list', :object => @user.moods

  %h2#loggedInHeader Logged In Users
  :javascript
    Nifty('h2#loggedInHeader', 'top')

  #loggedIn 
    = render :partial => '/main/logged_in', :object => @logged_in

#center
  #change_preferences
    = render :partial => '/preferences/change_form', :locals => {:header => true}

#rightSide 
  #graphs= render :partial => '/graphs/genres'
