%h1 
  Editing label (
  = "(#{@restaurant.name} / #{@label.tag.name})" 

= error_messages_for :label

-tagged_form_for(:label, :url => restaurant_label_path(@label), :html => { :method => :put }) do |f|
    = f.text_field :restaurant_id
    = f.text_field :tag_id
    = submit_tag "Update"

= link_to 'Show', restaurant_label_path(@label) 
|
= link_to 'Back', restaurant_labels_path
