%h1 
  Label for
  = @restaurant.name

%p 
  %b Restaurant:
  = h @label.restaurant_id

%p 
  %b Tag:
  = h @label.tag_id

= link_to 'Edit', edit_restaurant_label_path(@label) |
= link_to 'Back', restaurant_labels_path
