= render :partial => 'for_head'
%h1 New user

= error_messages_for :user

- tagged_form_for(:user, :url => users_path) do |f|
  = f.text_field :login
  = f.text_field :name
  = f.password_field :plain_password
  = f.password_field :plain_password_confirmation
  = submit_tag "Create"

= link_to 'Back', users_path
