- clarify_title @user.name
= render :partial => 'for_head'

%h1 User

%p 
  %b Login:
  = h @user.login

%p 
  %b Name:
  = h @user.name

= link_to 'Edit', edit_user_path(@user) |
= link_to 'Back', users_path

%h2 Presence

= render :partial => '/users/presence', :object => @user

%h2 Moods

= render :partial => '/moods/list', :object => @user.moods -

%h2 Emails

= render :partial => '/emails/list', :object => @user.emails -
