%table 
  %tr 
    -# %th Mood
    %th Restaurant
    %th Value
  
  - for preference in list
    %tr{ :class => cycle('rowA', 'rowB') }
      - # %td= h preference.mood_id
      %td= link_to h(preference.restaurant.name), restaurant_path(preference.restaurant)
      %td
        %div{:class => "customRadio display vote#{preference.vote.name}" }
          %span= h preference.vote.name
      %td= link_to 'Edit', edit_user_mood_preference_path(@user, @mood, preference)
      %td= link_to 'Destroy', user_mood_preference_path(@user, @mood, preference), :confirm => 'Are you sure?', :method => :delete
