- clarify_title "s for #{@user.name}'s #{@mood.name} mood"
= render :partial => 'for_head'

%h1 Preferences for = @mood.name

= error_messages_for :preference
= error_messages_for :mood

- form_tag :action => :save do
  %table 
    %tr 
      %th Restaurant
      %th Value
    - for @new in @missing
      %tr.missing = cycle('rowA', 'rowB') 
        %td 
          = link_to h(@new.restaurant.name), restaurant_path(@new.restaurant)
          = hidden_field "new[]", :restaurant_id
          = hidden_field "new[]", :mood_id
      %td= render :partial => 'vote_buttons',  :object => [ @new, 'new', @preference_values ]
    
    - for @preference in @preferences
      %tr{:class => "missing #{cycle('rowA', 'rowB')}" }
        %td= link_to h(@preference.restaurant.name), restaurant_path(@preference.restaurant)
      %td= render :partial => 'vote_buttons',  :object => [ @preference, 'preference', @preference_values ]
      = submit_tag
  
= link_to 'Show', user_mood_preferences_path
= link_to 'Back', user_mood_path(@user, @mood)
