- clarify_title "s for #{@user.name}'s #{@mood.name} mood"
= render :partial => 'for_head'
%h1 Editing preference

= error_messages_for :preference

- tagged_form_for(:preference, :url => user_mood_preference_path(@user, @mood, @preference), :html => { :method => :put }) do |f|
  .tagged_display 
    %p 
      %strong Mood:
      %br
      = link_to h(@mood.name), user_mood_path(@user, @mood)
    %p 
      %strong Restaurant:
      %br
      = link_to h(@preference.restaurant.name), restaurant_path(@preference.restaurant)
    = f.select :vote_id, @preference_values
     
    = render :partial => 'vote_buttons', :object => [ @preference, 'preference', @preference_values ]
    = submit_tag "Update"

= link_to 'Show', user_mood_preference_path(@user, @mood, @preference)
|
= link_to 'Back', user_mood_preferences_path(@user, @mood)
