- clarify_title "s for #{@preference.restaurant.name} in #{@user.name}'s #{@mood.name} mood"
= render :partial => 'for_head'

%h1 Preference

%p 
  %b Mood:
  = h @preference.mood.name

%p 
  %b Restaurant:
  = h @preference.restaurant.name

%p 
  %b Value:
  = h @preference.vote.name


= link_to 'Edit', edit_user_mood_preference_path(@user, @mood, @preference)
|
= link_to 'Back', user_mood_preferences_path(@user, @mood)
