<h1>Editing tag_type</h1>

<% form_for(@tag_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tag_type %> |
<%= link_to 'Back', tag_types_path %>
