- #!!! Strict
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml' } 
  %head 
    %meta{ :content => 'text/html;charset=UTF-8', :equiv => 'content-type' } 
    %title 
      Clubcar : 
      = yield(:title) || (controller.controller_name.underscore.humanize.singularize + (yield(:clarify_title) || 's') + ": " + controller.action_name)
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'clubcar'
    = yield(:head)
  %body{ :id => controller.action_name } 

    - unless flash[:notice].nil? || flash[:notice].empty?
      %p{ :style => 'color: green' } = flash[:notice]

    = yield
